*{
    background-color: #ffffff;
}
header *{
    background-color: #98b921;
}
footer *{
    background-color: #040804;
}
footer{
    background-color: #040804;
}
footer h5{
    color: #98b921;
}
.greennav *{
    background-color: #98b921;

}
.greennav {
    background-color: #98b921;

}